<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-12 my-5">
      <h3>Ciao {{ user.name }},</h3>
      <h5>ecco un riepilogo dei tuoi dati:</h5>
    </div>
    <div class="col d-flex flex-column flex-sm-row mb-5">
      <div class="d-flex justify-content-start justify-content-sm-center me-4">
        <img [src]="user.userImage" alt="User Image" class="mb-2" />
      </div>
      <div id="userDetail" class="d-flex flex-column">
        <p class="mb-0"><strong>Nome:</strong> {{ user.name }}</p>
        <p class="mb-0"><strong>Cognome:</strong> {{ user.surname }}</p>
        <p class="mb-0"><strong>Username:</strong> {{ user.username }}</p>
        <p class="mb-0"><strong>Email:</strong> {{ user.email }}</p>
        <p class="mb-0">
          <strong>Data di nascita:</strong> {{ user.dateBirth }}
        </p>
        <p class="mb-0"><strong>Genere:</strong> {{ user.gender }}</p>
        <p class="mb-0"><strong>Biografia:</strong> {{ user.biography }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5>Qui ci sono tutti i tuoi film preferiti:</h5>
    </div>
    <div
      class="col-12 col-sm-6 col-lg-3 col-xl-4"
      *ngFor="let film of favouriteFilmsArray"
    >
      <app-card [filmsCard]="film"></app-card>
    </div>
  </div>
</div>
